@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500, 600, 400i,700,700i&display=swap');

*{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333333;
}
#main-header img{
    height: 100%;
    width: 100%;
    background: #ddd;
}

#main-header .port-item{
    width: 20%;
}
#main-header .port-item:hover{
    opacity: .8;
    cursor: pointer;
}
@media(min-width: 992px)
{
    .port-item{
        padding: 5em 0 !important;
    }
}
@media(min-width: 1199px)
{
    .port-item{
        padding: 3.95em 3em  !important;
    }
}
span.first-name {
    font-weight: 600;
    color: #eceff1;
}
